
<!-- Start Portfolio
============================================= -->
<div class="portfolio-style-three-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-3">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Popular Projects</h4>
                    <h2 class="title split-text">Featured Works</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="portfolio-style-three-items">
            <!-- Single Item -->
            <div class="portfolio-style-three-item">
                <div class="row align-center">
                    <div class="col-lg-7">
                        <img src="../../assets/img/portfolio/work02.jpg" alt="Image Not Found">
                    </div>
                    <div class="col-lg-5">
                        <div class="date">January 15, 2024</div>
                        <h2><a href="#">Book <strong>Villas</strong></a></h2>
                        <a class="btn-animation mt-10" href="#"><i class="fas fa-arrow-right"></i> <span>See Details</span></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <!-- Single Item -->
            <div class="portfolio-style-three-item">
                <div class="row align-center">
                    <div class="col-lg-7">
                        <img src="../../assets/img/portfolio/work03.jpg" alt="Image Not Found">
                    </div>
                    <div class="col-lg-5">
                        <div class="date">August 24, 2024</div>
                        <h2><a href="#">Website <strong>eCommerce </strong></a></h2>
                        <a class="btn-animation mt-10" href="#"><i class="fas fa-arrow-right"></i> <span>See Details</span></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
            <!-- Single Item -->
            <div class="portfolio-style-three-item">
                <div class="row align-center">
                    <div class="col-lg-7">
                        <img src="../../assets/img/portfolio/work01.jpg" alt="Image Not Found">
                    </div>
                    <div class="col-lg-5">
                        <div class="date">February 18, 2023</div>
                        <h2><a href="#">Smart<strong> Desa</strong></a></h2>
                        <a class="btn-animation mt-10" href="https://tobadak.desa.id/"><i class="fas fa-arrow-right"></i> <span>See Details</span></a>
                    </div>
                </div>
            </div>
            <!-- Single Item -->
        </div>
    </div>
</div>
<!-- End Portfolio -->