<!-- Start About
============================================= -->
<div class="about-style-six-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="thumb-style-four">
                    <img src="../../assets/img/thumb/2.jpg" alt="Image Not Found">
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-7">
                <div class="about-style-six-info text-scroll-animation">
                    <div class="info">
                        <div class="d-flex">
                            <a href="#"><img src="../../assets/img/icon/arrow.png" alt="Image Not Found"></a>
                            <h2 class="title text">Best creative & digital agency</h2>
                        </div>
                        <p class="text">
                            Give lady of they such they sure it. Me contained explained my education. Vulgar as hearts by garret. Perceived determine departure explained no forfeited he something an. Contrasted dissimilar get joy you instrument out reasonably
                        </p>
                    </div>
                    <ul class="service-list">
                        <li>
                            <a href="#">
                                <div class="icon">
                                    <i class="fas fa-long-arrow-right"></i>
                                </div>
                                <span>01</span>
                                Social Meida
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon">
                                    <i class="fas fa-long-arrow-right"></i>
                                </div>
                                <span>02</span>
                                Content Writting
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon">
                                    <i class="fas fa-long-arrow-right"></i>
                                </div>
                                <span>03</span>
                                Video Production
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->
