<!-- Start Accordion Portfolio
============================================= -->
<div class="accrdion-portfolio-area">
    <div class="container-fluid">
        <!-- ACCORDION ROW -->
        <div class="row">
            <ul class="accordion-portfolio-lists text-light" id="accordion">
                <li style="background-image: url('../../assets/img/team/team12.jpg');">
                    <h3>Group Photo with Village Officials</h3>
                    <div class="accordion-overlay">
                        <h2><a href="#" >Group Photo<strong>with Village Officials</strong></a></h2>
                        <span>Design</span>
                    </div>
                </li>
                <li class="out" style="background-image: url('../../assets/img/team/team13.jpg');">
                    <h3>Smart Desa Q&A Session</h3>
                    <div class="accordion-overlay">
                        <h2><a href="#">Smart Desa <strong>Q&A Session</strong></a></h2>
                        <span>Branding</span>
                    </div>
                </li>
                <li style="background-image: url('../../assets/img/team/team14.jpg');">
                    <h3>Smart Desa Presentation</h3>
                    <div class="accordion-overlay">
                        <h2><a href="#" >Smart Desa <strong>Presentation</strong></a></h2>
                        <span>Photo</span>
                    </div>
                </li>
                <li style="background-image: url('../../assets/img/team/team15.jpg');">
                    <h3>Welcome Address by the Village Head</h3>
                    <div class="accordion-overlay">
                        <h2><a href="#" >Welcome Address <strong>by the Village Head</strong></a></h2>
                        <span>Branding</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- BEGIN NEW ROW AFTER ACCORDION -->
    </div>
</div>
<!-- End According Portfolio -->