<!-- Start Brand Area
============================================= -->
<div class="brand-area relative overflow-hidden bg-gradient text-light">
    <div class="brand-style-one">
        <div class="container-fill">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-items">
                        <div class="brand-conetnt">
                            {{#each this }}
                                <div class="item">
                                    <h2>{{this.title}}</h2>
                                </div>
                            {{/each}}
                        </div>
                        <div class="brand-conetnt">
                            {{#each this }}
                                <div class="item">
                                    <h2>{{this.title}}</h2>
                                </div>
                            {{/each}}
                        </div>
                        <div class="brand-conetnt">
                            {{#each this }}
                                <div class="item">
                                    <h2>{{this.title}}</h2>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradn Area -->